<p>Hey %recipient.first_name%,</p>

<p>Unfortunately the weakest player from your team was killed and you were next on the chopping block. As a result you're now dead. Better luck next time!</p>

<p>Sincerely,<br />
The DMAssassins Team</p>

<p>P.S. We're running a limited beta right now. If you're interested in starting your own game email <a href="mailto:matt@dmassassins.com">matt@dmassassins.com</a> for beta pricing!</p>
<p>To unsubscribe from all future DMAssassins emails <a href="{{.APIDomain}}unsubscribe/%recipient.user_id%">click here</a></p>