<p>Hey %recipient.first_name%,</p>

<p>Bob Dylan once wrote The Times They Are a-Changin; Fortunately for you, this plot twist is relatively simple. Targets have been randomized and there are no special new rules. Don't get too comfortable however, another more challenging plot twist could happen at any moment.</p>
<p>Log in <a href="http://playassassins.com">here</a> to check out your new target!</p>

<p>Good Luck!<br />
The Assassins Team</p>

<p>To unsubscribe from all future Assassins emails <a href="{{.APIDomain}}unsubscribe/%recipient.user_id%">click here</a></p>