<p>Hey %recipient.first_name%,</p>

<p>Bob Dylan once wrote The Times They Are a-Changin,' and this plot twist is no different. Targets have been reversed, you are now targeting your former assassin. Be aware, this also means the target you were hunting is now hunting you.</p>
<p>Log in <a href="http://playassassins.com">here</a> to check out your new target!</p>

<p>Good Luck!<br />
The Assassins Team</p>

<p>To unsubscribe from all future Assassins emails <a href="{{.APIDomain}}unsubscribe/%recipient.user_id%">click here</a></p>