<p>Hey %recipient.first_name%,</p>

<p>Bob Dylan once wrote The Times They Are a-Changin' and this time it's big. Each team must defend their weakest player (least kills). If the weakest player for their team is killed, that team will lose an additional player at random. If two players are tied in last, they both count.</p>

<p>One more thing: The best players on each team are targeting the worst and everyone else gets a new target.</p>
<p>Log in <a href="http://playassassins.com">here</a> to check out your new target!</p>

<p>Good Luck!<br />
The Assassins Team</p>

<p>To unsubscribe from all future Assassins emails <a href="{{.APIDomain}}unsubscribe/%recipient.user_id%">click here</a></p>