<p>Hey %recipient.first_name%,</p>

<p>Bob Dylan once wrote The Times They Are a-Changin' and we've got some change for you. Each time you kill more than once in a 24 hour period you will get an extra point. Also, to make things more interesting, targets have been randomized.</p>
<p>Log in <a href="http://playassassins.com">here</a> to check out your new target!</p>

<p>Good Luck!<br />
The Assassins Team</p>

<p>To unsubscribe from all future Assassins emails <a href="{{.APIDomain}}unsubscribe/%recipient.user_id%">click here</a></p>