.user_column {
	width:300px;
}

.thumbnail {
	margin-left:auto;
	margin-right:auto;
}

a, a:focus { outline: none; }


#secret{
	/* display:none; */
}

#secret .form-control {
	width:190px;
	float:left;
	margin-left:5px;
}

#secret button {
	margin-left:5px;
	margin-right:5px;
}