The following will happen if you implement this plot twist:<br />
<ol>
    <li>The player with the most kills from each team will be targeting the player with the least kills from a different team.</li>
    <li>For target assignment, ties for "strongest" and "weakest" for each team will be broken arbitrarily.</li>
    <li>All other players will be assigned a random target.</li>
    <li>If the player with the lowest number of kills for a team dies, the next lowest team member will also die.</li>
    <li>If players are tied for "weakest" they both count.</li>
    <li>Users will be emailed informing them of the plot twist</li>
</ol>
