The following will happen if you implement this plot twist:<br />
<ol>
    <li>If the player with the most kills for their team is dead, they will be revived.</li>
    <li>The player with the most kills from each team will be assigned another "strong" player from another team.</li>
    <li>Strong players will be in their own mini game and will not be able to target regular users until targets are reassigned.</li>
    <li>Ties for "strongest" for each team will be broken arbitrarily</li>
    <li>All other players will be assigned a random target</li>
    <li>All players have 48 hours to kill their new target</li>
    <li>Users will be emailed informing them of the plot twist</li>
</ol>
