{
	"APIDomain": "",
	"FBAppId": "",
	"FBAppSecret" :"",
	"FBAccessToken" : "",
	"DatabaseURL": "postgres://localhost?dbname=dmassassins&sslmode=disable",
	"SentryDSN" : "",
	"SupportEmail": "",
	"MailGunPublicKey": "",
	"MailGunPrivateKey": "",
	"MailGunDomain": "",
	"MailGunSender": "",
	"MailGunReplyTo": ""
}
