<div class="container">
  <form class="form-horizontal text-left" role="form">
      <div class="form-group">
          <h1 class="text-center col-sm-12 col-xs-12">Create a Game</h1>
      </div>
      <div class="form-group">
          <label class="col-sm-5 col-xs-5 control-label" for="js-create-game-name">Game Name:</label>
          <div class="col-sm-3 col-xs-7">
              <input id="js-create-game-name" class="form-control"></input>
          </div>
      </div>
      <div class="form-group">
          <label class="col-sm-5 col-xs-5 control-label" for="js-create-game-need-password">Password protect?:</label>
          <div class="col-sm-3 col-xs-7">
              <input id="js-create-game-need-password" type="checkbox"</input>
          </div>
      </div>
      <div class="form-group">
          <label class="col-sm-5 col-xs-5 control-label" for="js-create-game-password">Password:</label>
          <div class="col-sm-3 col-xs-7">
              <input id="js-create-game-password" class="form-control" disabled></input>
          </div>
      </div>
      <div class="form-group">
        <div class="col-sm-offset-5 col-sm-2">
            <button class="btn btn-default btn-block js-create-game-submit">Create</button>
        </div>
        <div class="row visible-xs">&nbsp;</div>
        <div class="col-sm-1">
            <button class="btn btn-danger btn-block js-go-back">Back</button>
        </div>
      </div>
  </form>
</div>
