<div class="modal fade js-profile-quit-modal"  tabindex="-1" role="dialog" aria-hidden="true" data-keyboard="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title">Quit Game</h4>
      </div>
      <form class="form-inline" role="form">
          <div class="modal-body">
            <p>We're sad to see you go. If you really want to quit <strong><%=quit_game_name%></strong> please confirm by entering your secret:</p>
             <div class="form-group">
                 <label for="js-quit-secret" class="sr-only">Secret:</label><input class="form-control" id="js-quit-secret" type="text" placeholder ="Enter Secret"/>
             </div>
          </div>
          <div class="modal-footer">
            <button class="btn btn-default btn-medium" data-dismiss="modal">Nevermind</button>
            <button class="btn btn-danger btn-medium js-quit-game-confirm">Quit</button>
          </div>
      </form>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
