<nav role="navigation" class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button data-target="#main_nav" data-toggle="collapse" class="navbar-toggle" type="button">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="/" class="navbar-brand"><%= brand_name %></a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="main_nav">
            <!-- Left Navbar -->
            <ul class="nav navbar-nav">
                <li class="js-nav-target <% if(target_disabled) {%> disabled <% } %>"><a class="js-nav-link" href="/target">Target</a></li>
                <li class="js-nav-my-profile"><a class="js-nav-link" href="/my-profile">My Profile</a></li>
                <li class="js-nav-leaderboard"><a class="js-nav-link" href="/leaderboard">Leaderboard</a></li>
                <li class="js-nav-rules"><a class="js-nav-link" href="/rules">Rules</a></li>
            </ul>

            <!-- Right Navbar -->
            <ul class="nav navbar-nav navbar-right">
                <li class="js-dropdown-parent js-dropdown-parent-games">

                </li>
                <!-- Admin Links -->
                <% if (is_admin) { %>
                    <li class="js-dropdown-parent js-dropdown-parent-admin">
                        <a data-toggle="dropdown" class="dropdown-toggle" href="/">
                            <div class="hidden-sm">
                                <span>
                                    Admin
                                </span>
                                <span class="caret"></span>
                            </div>
                            <div class="visible-sm">
                                <span>
                                    Admin
                                </span>
                                <span class="caret"></span>
                            </div>
                        </a>
                        <ul class="dropdown-menu" role="menu" id="js-nav-admin-dropdown">
                            <li dropdown="admin" id="js-nav-users"><a class="js-nav-link" href="/users">Manage Users</a></li>
                            <li dropdown="admin" id="js-nav-edit-rules"><a class="js-nav-link" href="/edit-rules">Edit Rules</a></li>
                            <li dropdown="admin" id="js-nav-game-settings"><a class="js-nav-link" href="/game-settings">Game Settings</a></li>
                            <!-- Super Admin Links -->
                            <% if (is_super_admin) { %>
                                <li dropdown="admin" id="js-nav-targets"><a class="js-nav-link" href="/targets">View Targets</a></li>
                            <% } %>
                        </ul>
                    </li>
                <!-- Captain Links -->
                <% } else if (is_captain) { %>
                    <li id="js-nav-users"><a class="js-nav-link" href="/users">Manage Users</a></li>
                <% } %>
                <li id="js-nav-logout"><a class="js-nav-link" href="/logout">Logout</a></li>
            </ul>
        </div> <!-- /.navbar-collapse -->
    </div> <!-- /.container -->
</nav> <!-- /.navbar -->
