<div class="container-fluid">
    <img src="/assets/img/logo.png" class="center-block img-responsive logo js-logo" />
    <div class="js-create-or-join">
        <div class="container col-md-offset-2 col-md-8 text-center">
            <div class="hidden-xs">
                <button class="btn btn-facebook btn-lg js-show-create-game">Create A Game</button>
                <button class="btn btn-facebook btn-lg js-show-join-game">Join A Game</button>
            </div>
            <div class="visible-xs-block">
                <button class="btn btn-facebook btn-block js-show-create-game">Create A Game</button>
                <button class="btn btn-facebook btn-block js-show-join-game">Join A Game</button>
            </div>

        </div>
    </div>
</div>
