<div class="container-fluid">
    <img src="/assets/img/logo.png" class="center-block img-responsive logo js-logo" />
    <div class="js-create-or-join">
        <div class="container col-md-offset-2 col-md-8 text-center">
            <div class="hidden-xs">
                <button class="btn btn-facebook btn-lg js-show-create-game">Create A Game</button>
                <button class="btn btn-facebook btn-lg js-show-join-game">Join A Game</button>
            </div>
            <div class="visible-xs-block">
                <button class="btn btn-facebook btn-block js-show-create-game">Create A Game</button>
                <button class="btn btn-facebook btn-block js-show-join-game">Join A Game</button>
            </div>

        </div>
    </div>
    <div class="container hide js-create-game">
        <form class="form-horizontal text-left" role="form">
            <div class="form-group">
                <h1 class="text-center col-sm-12 col-xs-12">Create a Game</h1>
            </div>
            <div class="form-group">
                <label class="col-sm-5 col-xs-5 control-label" for="create_game_name">Game Name:</label>
                <div class="col-sm-3 col-xs-7">
                    <input id="create_game_name" class="form-control"></input>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-5 col-xs-5 control-label" for="js-create-game-need-password">Password protect?:</label>
                <div class="col-sm-3 col-xs-7">
                    <input id="js-create-game-need-password" type="checkbox"</input>
                </div>
            </div>
            <div id="create_password_block" class="form-group">
                <label class="col-sm-5 col-xs-5 control-label" for="js-create-game-password">Password:</label>
                <div class="col-sm-3 col-xs-7">
                    <input id="js-create-game-password" class="form-control" disabled></input>
                </div>
            </div>
            <div class="form-group">
                <div class="hidden-xs">
                    <div class="col-sm-offset-5 col-sm-2">
                        <button class="btn btn-default btn-block js-create-game-submit">Create</button>
                    </div>
                    <div class="col-sm-1">
                        <button class="btn btn-danger btn-block js-create-or-join-back">Back</button>
                    </div>
                </div>
                <div class="visible-xs-block">
                    <button class="btn btn-default btn-block js-create-game-submit">Create</button>
                    <button class="btn btn-danger btn-block js-create-or-join-back">Back</button>
                </div>
            </div>
        </form>
    </div>
    <div class="container hide js-join-game">
        <form class="form-horizontal text-left" role="form">
            <div class="form-group">
                <h1 class="text-center col-sm-12 col-xs-12">Select a Game</h1>
            </div>
            <div class="form-group">
                <label class="col-sm-5 col-xs-5 control-label" for="js-select-game">Game:</label>
                <div class="col-sm-3 col-xs-7">
                    <select id="js-select-game" class="form-control">
                        <% _.each(games, function(game){ %>
                            <option value="<%= game.game_id %>" data-game-has-password="<%= game.game_has_password %>"><%= game.game_name %> </option>
                        <% }) %>
                    </select>
                </div>
            </div>
            <div id="join_password_block" class="form-group">
                <label class="col-sm-5 col-xs-5 control-label" for="js-join-game-password">Password:</label>
                <div class="col-sm-3 col-xs-7">
                    <input id="js-join-game-password" class="form-control" disabled></input>
                </div>
            </div>
            <div id="join_team_block" class="form-group">
                <label class="col-sm-5 col-xs-5 control-label" for="js-join-game-team">Team:</label>
                <div class="col-sm-3 col-xs-7">
                    <select id="js-join-game-team" class="form-control" disabled>
                        <option value="" id="js-team-placeholder">This Game Doesn't Have Teams</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <div class="hidden-xs">
                    <div class="col-sm-offset-5 col-sm-2">
                        <button class="btn btn-default btn-block js-join-game-submit">Join</button>
                    </div>
                    <div class="col-sm-1">
                        <button class="btn btn-danger btn-block js-create-or-join-back">Back</button>
                    </div>
                </div>
                <div class="visible-xs-block">
                    <button class="btn btn-default btn-block js-join-game-submit">Join</button>
                    <button class="btn btn-danger btn-block js-create-or-join-back">Back</button>
                </div>
            </div>
        </form>
    </div>
</div>
