<div class="modal fade js-modal-support" tabindex="-1" role="dialog" aria-hidden="true" data-keyboard="true">
  	<div class="modal-dialog">
    	<div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
          <h4 class="modal-title">Support</h4>
        </div>
        <form role="form">
          <div class="modal-body">
            <div class="form-group">
              <label for="js-support-name">Name:</label>
              <input type="text" id="js-support-name" class="form-control" placeholder="Enter Name" />
            </div>

            <div class="form-group">
              <label for="js-support-email">Email:</label>
              <input type="text" id="js-support-email" class="form-control" placeholder="Enter Email" />
            </div>

            <div class="form-group">
              <label for="js-support-subject">Subject:</label>
              <input type="text" id="js-support-subject" class="form-control" placeholder="Enter Subject" />
            </div>

            <div class="form-group">
              <label for="js-support-message">Message:</label>
              <textarea id="js-support-message" class="form-control" placeholder="Enter Message" />
            </div>

		  			<div class="modal-footer">
              <div class="hidden-xs">
                <button class="btn btn-default btn-medium" data-dismiss="modal">Cancel</button>
                <button class="btn btn-primary btn-medium js-support-submit">Submit</button>
              </div>
              <div class="visible-xs-block">
                <button class="btn btn-default btn-block" data-dismiss="modal">Cancel</button>
                <button class="btn btn-primary btn-block js-support-submit">Submit</button>
              </div>
					</div>
			  </div>
		  </form>
	  </div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->
