  <div class="container">
      <div class="alert alert-info alert-dismissible">
          <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span></button>
      Game rules are written in a language called markdown. This allows you to tweak the rules to best suit your game.
      Below is an editor that will provide you with most of the functionality of markdown.
      We've provided a set of sample rules that you can fill in for your convenience.
      If you'd like to write directly in markdown check out this <a href="https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet" target="_blank" class="alert-link">cheat sheet.</a>
      </div>

      <textarea v-model="rules" class="js-rules-editor"><%= rules %></textarea>
  </div>
