<div class="modal fade js-modal-kill-user" tabindex="-1" role="dialog" aria-hidden="true" data-keyboard="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title">Kill User</h4>
      </div>
      <div class="modal-body">
        <p>Are you sure you want to kill <strong><span class="js-user-name"></span></strong>? This will kill them as though their assassin has killed them.<br />
            <strong>If you want to ban the user completely close this window and click "Ban User."</strong>
        </p>
        <form>
            <div class="checkbox">
              <label>
                <input type="checkbox" class="js-notify-kill-user" checked /> Notify User By Email
              </label>
            </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default hidden-xs" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-danger hidden-xs js-kill-user-submit">Kill User</button>

        <button type="button" class="btn btn-block btn-default visible-xs" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-block btn-danger visible-xs js-kill-user-submit">Kill User</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
