<p>Hey %recipient.first_name%,</p>

<p>"The time has come," the walrus said, "to talk of many things: of hunting friends, avoiding capture, and ending deadly games."</p>
<p>With that, {{.GameName}} Assassins has come to an end. We hope you've enjoyed playing. Winner(s) will be announced by your game admin seperately. Log in to check out the leaderboard.</p>

<p>Sincerely,<br />
The Assassins Team</p>

<p>To unsubscribe from all future Assassins emails <a href="{{.APIDomain}}unsubscribe/%recipient.user_id%">click here</a></p>