<p>Hey %recipient.first_name%,</p>

<p>Welcome to Assassins where the motto is kill all your friends and have fun doing it. Get ready for a game of stalking, paranoia, and deception. Your admin will start the game soon, until then we recommend you log in and read the rules carefully to make sure you don't run afoul of them.</p>

<p>We'll be sure to let you know as soon as you can start hunting your first target!</p>

<p>Sincerely,<br />
The Assassins Team</p>

<p>To unsubscribe from all future Assassins emails <a href="{{.APIDomain}}unsubscribe/%recipient.user_id%">click here</a></p>