# EditorConfig is awesome: http://EditorConfig.org

# top-most EditorConfig file
root = false

# Unix-style newlines with a newline ending every file
[*]
end_of_line = lf
insert_final_newline = true
charset = utf-8

# js - 4 space indentation
[*.js]
indent_style = space
indent_size = 4

# html - 2 space indentation
[*{.html,.html.template}]
index_style = space
indent_size = 2

# Matches the exact files either package.json or .travis.yml
[{package.json,Gruntfile.js}]
indent_style = space
indent_size = 2
