<!DOCTYPE HTML>
<!--

<!-- @echo BANNER-->
            `::`
          '@@@@@@#
        +@@@@@@@@@@`
      ,@@@@@@@@@@@@@
     @@@@@@@@@@@@@@@@
      @@@@@@@@@@@@@@@,
    #@@@@@@@@@@@@@@@@@
      @@@@@@@@@@@@@@@@
      #@@@@@@@@@@@@@@@
      .@@@@@@@@@@@@@@'
       @@@@@@@@@@@@@@
       ,@@@@@@@@@@@@+
        +@@@@@@@@@@@         .@@@;         .@@@@@         `#        '@@@@@#       @    #        @      @          `#        '@@@@@#       `@@@:       @    #
         .@@@@@@@+,          .+  `@        .+             @@           @          @    @        @@    ;#          @@           @         `@           @    @
           ,.                .+    @       .+             @:;          @          @    @        @@    @@          @:;          @         @            @    @
        ; @@+    `;`         .+    @       .+            :: @          @          @    @        @`@  #,@         :: @          @         @            @    @
        @ @` @@@@@@          .+    @       .#:::         @  @          @          @++++@        @ @` @ @         @  @          @         @            @++++@
       @;@@ #@@@@@@          .+    @       .+            @   #         @          @    @        @  @@` @         @   #         @         @            @    @
       @ @@ @@@@@@@`         .+    @       .+           +@@@@@         @          @    @        @  #@  @        +@@@@@         @         @            @    @
      #@#@,,@@@@@@@@         .+   `@       .+           @    '.        @          @    @        @      @        @    '.        @         @            @    @
      @ @@ @@@@@@@@@         .+  `@        .+          `'     @        @          @    @        @      @       `'     @        @         `@           @    @
      @ @@ @@@@@@@@@         .@@@'         .@@@@@      @      @        @          @    #        @      #       @      @        @          `@@@;       @    #
     :@'@# @@@@@@@@@.
     @#@@#,@@@@@@@@@`
     @,@@@+@@@@@@@@@;
     @ @@@@@@@@@@@@@'                                                                                                   @@@@
     @`@@@@@@@@@@@@@         ;@@@@@                                                                                     @@@@
     @ @@,@@@@@@@@@@         @@@@@@                                                                                     @@@@
     @ #@ @@@@@@@@@          @@@@@@'                                                                                    @@@@
     @    @@@@@@@@          '@@@@@@@
     @+';:@@@@@@@`          @@@@@@@@
     @@@@@@@@@@@@           @@@';@@@+
     @@@@@'@@@@@@          +@@@  @@@@          @@@@@@@@`     :@@@@@@@@     ;@@@@@@@@.        @@@@@@@@`     #@@@@@@@+    @@@@    .@@@@.@@@@@@        #@@@@@@@+
      @@@@@: @@@@          @@@@  @@@@        .@@@@@@@@@.    #@@@@@@@@@    #@@@@@@@@@@+     .@@@@@@@@@.    @@@@@@@@@@    @@@@    .@@@@@@@@@@@@      @@@@@@@@@@
      @@@@@@@@@@@          @@@#  '@@@#       @@@@@@@@@@    `@@@@@@@@@@    .@@@@@@@@@@@     @@@@@@@@@@    @@@@@@@@@@:    @@@@    .@@@@@@@@@@@@@    @@@@@@@@@@:
      ,@@@@@@@@@@         #@@@    @@@@      `@@@@     ,    @@@@+           @'    :@@@@;   `@@@@     ,    @@@@.    .     @@@@    .@@@@;   #@@@@    @@@@.    .
       @@@@@@@@@@         @@@@    @@@@      :@@@.          @@@@                   #@@@@   :@@@.          @@@@           @@@@    .@@@@     @@@@    @@@@
       #@@@@@@@@@         @@@'    ;@@@#     :@@@+          @@@@                    @@@@   :@@@+          @@@@           @@@@    .@@@@     @@@@    @@@@
        @@@@@@@@@        #@@@      @@@@      @@@@@:        @@@@@@`            `..  @@@@    @@@@@:        @@@@@'         @@@@    .@@@@     @@@@    @@@@@'
        @@@@@@@@@        @@@@      @@@@`     @@@@@@@@:      @@@@@@@@       #@@@@@@@@@@@    @@@@@@@@:     '@@@@@@@+      @@@@    .@@@@     @@@@    '@@@@@@@+
         @@@@@@@@       `@@@@@@@@@@@@@@@      @@@@@@@@@     `@@@@@@@@+    @@@@@@@@@@@@@     @@@@@@@@@     '@@@@@@@@`    @@@@    .@@@@     @@@@     '@@@@@@@@`
         @@@@@@@@       @@@@@@@@@@@@@@@@        @@@@@@@@      ,@@@@@@@.  :@@@@+  `.@@@@       @@@@@@@@      '@@@@@@@    @@@@    .@@@@     @@@@       '@@@@@@@
         :@@@@@@@       @@@@@@@@@@@@@@@@`          @@@@@         .@@@@@  @@@@+     @@@@          @@@@@         '@@@@:   @@@@    .@@@@     @@@@          '@@@@:
          @@@@@@@      `@@@:        ;@@@@           @@@@           @@@@  @@@@     .@@@@           @@@@          :@@@@   @@@@    .@@@@     @@@@           :@@@@
          @@@@@@@      @@@@          @@@@           @@@@           @@@@  @@@@.    @@@@@           @@@@          `@@@@   @@@@    .@@@@     @@@@           `@@@@
          @@@@@@@'     @@@@          @@@@.   @;    ,@@@@    @:    #@@@@  @@@@@   .@@@@@    @;    ,@@@@   ;#.    @@@@:   @@@@    .@@@@     @@@@    ;#.    @@@@:
         ,@@@@@@@@    .@@@;          ;@@@@  .@@@@@@@@@@@   @@@@@@@@@@@:  ,@@@@@@@@@@@@@   .@@@@@@@@@@@   @@@@@@@@@@@    @@@@    .@@@@     @@@@    @@@@@@@@@@@
       @@@@@@@@@@@    @@@@            @@@@  +@@@@@@@@@@    @@@@@@@@@@@    @@@@@@@@+@@@@   +@@@@@@@@@@    @@@@@@@@@@:    @@@@    .@@@@     @@@@    @@@@@@@@@@:
      @@@@@@@@@@@@    @@@@            @@@@,  #@@@@@@@@     `@@@@@@@@;      @@@@@@; '@@@    #@@@@@@@@     :@@@@@@@@`     @@@@    .@@@@     @@@@    :@@@@@@@@`
-->
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <meta name="google-site-verification" content="yRrmu_JevwQq80UCPBJNVh1K-V-FbxVabk8wXBKpzgg" />

    <!-- @if NODE_ENV='PRODUCTION' -->
    <title>DMAssassins (beta)</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-social/4.2.1/bootstrap-social.min.css" rel="stylesheet" type="text/css">
    <link href="//cdn.datatables.net/1.10.2/css/jquery.dataTables.css" rel="stylesheet" type="text/css">
    <link href="//cdn.datatables.net/plug-ins/a5734b29083/integration/bootstrap/3/dataTables.bootstrap.css" rel="stylesheet" type="text/css">
    <link href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-markdown/2.7.0/css/bootstrap-markdown.min.css" rel="stylesheet" type="text/css">
    <link href="dist/<!-- @echo VERSION -->/DMAssassins.min.css" rel="stylesheet" type="text/css">
    <!-- @endif -->
    <!-- @if NODE_ENV='DEVELOPMENT' -->
    <title>DevAssassins</title>
    <link href="/bower_components/bootstrap/dist/css/bootstrap.css" rel="stylesheet" type="text/css">
    <link href="/bower_components/fontawesome/css/font-awesome.css" rel="stylesheet" type="text/css">
    <link href="/bower_components/bootstrap-social-buttons/social-buttons.css" rel="stylesheet" type="text/css">
    <link href="/bower_components/datatables/media/css/jquery.dataTables.css" rel="stylesheet" type="text/css">
    <link href="/bower_components/datatables-bootstrap3/BS3/assets/css/datatables.css" rel="stylesheet" type="text/css">
    <link href="/bower_components/bootstrap-markdown/css/bootstrap-markdown.min.css" rel="stylesheet" type="text/css">
    <link href="assets/styles/site.css" rel="stylesheet" type="text/css">
    <link href="assets/styles/sidebar.css" rel="stylesheet" type="text/css">
    <!-- @endif -->



    <script id="nav-template" type="text/template">
        <nav role="navigation" class="navbar navbar-default navbar-fixed-top">
          <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button data-target="#main_nav" data-toggle="collapse" class="navbar-toggle" type="button">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <!-- @if NODE_ENV='PRODUCTION' -->
                <a href="#" class="navbar-brand">DMAssassins (beta)</a>
                <!-- @endif -->
                <!-- @if NODE_ENV='DEVELOPMENT' -->
                <a href="#" class="navbar-brand">DevAssassins</a>
                <!-- @endif -->
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="main_nav">
                <ul class="nav navbar-nav">
                    <li class="nav_item" id="nav_target"><a href="#target">Target</a></li>
                    <li class="nav_item" id="nav_my_profile"><a href="#my_profile">My Profile</a></li>
                    <li class="nav_item" id="nav_leaderboard"><a href="#leaderboard">Leaderboard</a></li>
                    <li class="nav_item" id="nav_rules"><a href="#rules">Rules</a></li>
                </ul>

                <ul class="nav navbar-nav navbar-right">
                    <li class="nav_item dropdown_parent" id="games_parent">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <div class="hidden-sm">
                                <span id="games_header">
                                    Loading..
                                </span>
                                <span class="caret"></span>
                            </div>
                            <div class="visible-sm">
                                <span id="games_header_short">
                                    Loading..
                                </span>
                                <span class="caret"></span>
                            </div>
                        </a>
                        <ul class="dropdown-menu" role="menu" id="games_dropdown">
                        </ul>
                    </li>
                    <% if (is_admin) { %>
                        <li id="admin_parent" class="nav_item dropdown_parent">
                            <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                                <div class="hidden-sm">
                                    <span id="admin_header">
                                        Admin
                                    </span>
                                    <span class="caret"></span>
                                </div>
                                <div class="visible-sm">
                                    <span id="admin_header_short">
                                        Admin
                                    </span>
                                    <span class="caret"></span>
                                </div>
                            </a>
                            <ul id="admin_dropdown" role="menu" class="dropdown-menu">
                                <li class="nav_item dropdown_item" dropdown="admin" id="nav_users"><a href="#users">Manage Users</a></li>
                                <li class="nav_item dropdown_item" dropdown="admin" id="nav_edit_rules"><a href="#edit_rules">Edit Rules</a></li>
                                <li class="nav_item dropdown_item" dropdown="admin" id="nav_game_settings"><a href="#game_settings">Game Settings</a></li>
                                <% if (is_super_admin) { %>
                                    <li class="nav_item dropdown_item" dropdown="admin" id="nav_targets"><a href="#targets">View Targets</a></li>
                                <% } %>
                            </ul>
                        </li>
                    <% } else if (is_captain) { %>
                        <li class="nav_item" id="nav_users"><a href="#users">Manage Users</a></li>
                    <% } %>
                    <li class="nav_item" id="nav_logout"><a href="#logout">Logout</a></li>
                </ul>
            </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>

    </script>
    <script id="nav-game-template" type="text/template">
    <%
        _.each(games, function(game) {
        %>
            <li id="nav_<%=game.game_id %>" class="nav_item dropdown_item game_name" dropdown="games"><a game_id="<%=game.game_id %>" class="switch_game" href="#switch_game"><%=game.game_name%></a></li>
        <%
        })
        %>
        <li id="nav_create_game" class="nav_item dropdown_item" dropdown="games"><a href="#create_game">Create New Game</a></li>
        <li id="nav_join_game" class="nav_item dropdown_item" dropdown="games"><a href="#join_game">Join New Game</a></li>
    </script>
    <script id="target-template" type="text/template">
    <div class="user_view">
             <div class="view text-center">
                <div id="target_data">
                    <div class="row">
                        <label>Name:</label> <%= properties.name %>
                    </div>
                    <div class="row">
                        <label>Facebook:</label> <a href="<%= properties.facebook %>"><%= properties.facebook.replace('https://facebook','fb') %></a>
                    </div>
                </div>
                <% if (teams_enabled && properties.team) { %>
                        <div class="row">
                            <label>Team:</label> <%= properties.team %>
                        </div>
                    <% } %>
                <div class="row">
                    <a class="thumbnail">
                       <img src=<%= properties.photo_thumb %>>
                    </a>
                </div>
                <div class="row user-column">
                    <form class="form-inline kill-form" id="kill_form">
                        <input class="form-control" placeholder="Enter Secret" id="secret"/>
                        <button type="button" id="kill" class="btn btn-danger">Kill Target</button>
                    </form>

                </div>
             </div>
        </div>
        <div class="modal fade" id="photoModal" tabindex="-1" role="dialog" aria-labelledby="photoModal" aria-hidden="true">
          <div class="modal-dialog">
            <img class="img-responsive center-block" src=<%= properties.photo %> />
          </div>
        </div>

    </script>
    <script id="profile-template" type="text/template">
    <div class="user_view">
             <div class="view text-center">
                <div id="target_data">
                    <div class="row">
                        <label>Name:</label> <%= properties.name %>
                    </div>
                    <div class="row">
                        <label>Email:</label> <a href="mailto:"<%= email %>"><%= email %></a>
                    </div>
                    <div class="row">
                        <label>Facebook:</label> <a href="<%= properties.facebook %>"><%= properties.facebook.replace('https://facebook','fb') %></a>
                    </div>
                    <% if (teams_enabled && properties.team) { %>
                        <div class="row">
                            <label>Team:</label> <%= properties.team %>
                        </div>
                    <% } %>
                    <div class="row">
                        <div class="text-danger"><label>Secret:</label> <%= properties.secret %></div>
                        <p class="text-danger">
                            Give this to your assassin if they kill you.
                        </p>
                    </div>
                </div>
                <div class="row">
                    <a class="thumbnail">
                       <img src=<%= properties.photo_thumb %>>
                    </a>
                </div>
                <% if (allow_quit) { %>
                    <div class="user-column btn-group btn-group-justified profile-buttons">
                        <div class="btn-group">
                            <button type="button" class="btn btn-primary" id="email_settings">Email Settings</button>
                        </div>
                        <div class="btn-group">
                            <button type="button" class="btn btn-danger" id="quit">Quit Game</button>
                        </div>
                    </div>
                <% } else { %>
                    <div class="row user-column profile-buttons">
                        <button class="btn btn-block btn-primary" id="email_settings">Email Settings</button>
                    </div>
                <% } %>
             </div>
        </div>
        <div class="modal fade" id="photoModal" tabindex="-1" role="dialog" aria-labelledby="photoModal" aria-hidden="true">
          <div class="modal-dialog">
            <img class="img-responsive center-block" src=<%= properties.photo %> />
          </div>
        </div>

        <div id="quit_modal_wrapper">

        </div>
        <div class="modal fade" id="email_modal" role="dialog">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">Email Settings</h4>
              </div>
              <form role="form" id="email_settings_form">
                  <div class="modal-body">
                        <div class="form-group">
                            <label class="control-label" for=email>Email Address:</label>
                            <div class="">
                                <input class="form-control" id="email" value="<%=email%>"/>
                            </div>
                        </div>
                        <div class="checkbox">
                            <label>
                              <input type="checkbox" id="allow_email" <% if (allow_email){ %>checked<% } %>> Is it ok for us to send you emails?
                            </label>
                        </div>
                        <em class="opt-out-warning">Note: If you opt out of emails, you will not receive updates if your target changes due to a plot twist.</em>

                  </div>
                  <div class="modal-footer">
                    <div class="hidden-xs">
                        <button class="btn btn-default btn-medium" data-dismiss="modal">Cancel</button>
                        <button class="btn btn-primary btn-medium js-email-settings-save">Save</button>
                    </div>
                    <div class="visible-xs-block">
                        <button class="btn btn-default btn-block" data-dismiss="modal">Cancel</button>
                        <button class="btn btn-primary btn-block js-email-settings-save">Save</button>
                    </div>
                  </div>
              </form>
            </div><!-- /.modal-content -->
          </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->
    </script>



    <script id="quit-modal-template" type="text/template">

        <div class="modal fade" id="quit_modal" role="dialog">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">Quit Game</h4>
              </div>
              <form class="form-inline" role="form">
                  <div class="modal-body">
                    <p>We're sad to see you go. If you really want to quit <strong><%=quit_game_name%></strong> please confirm by entering your secret:</p>
                     <div class="form-group">
                         <label for="quit_secret" class="sr-only">Secret:</label><input class="form-control" id="quit_secret" type="text" placeholder ="Enter Secret"/>
                     </div>
                  </div>
                  <div class="modal-footer">
                    <button class="btn btn-default btn-medium" data-dismiss="modal">Nevermind</button>
                    <button class="btn btn-danger btn-medium" id="quit_game_confirm">Quit</button>
                  </div>
              </form>
            </div><!-- /.modal-content -->
          </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->

    </script>

    <script id="select-game-team-option" type="text/template">
        <option value="" id="team_placeholder">Select a Team</option>
        <%
        _.each(teams, function(team){
        %>
            <option value="<%= team.team_id %>"><%= team.team_name %></option>
        <%
        })
        %>
    </script>

    <script id="select-game-template" type="text/template">
        <div class="container-fluid">
                <img src="/assets/img/logo.png" class="center-block img-responsive logo" />
                <div id="create-or-join" class="">
                    <div class="container col-md-offset-2 col-md-8 text-center">
                        <div class="hidden-xs">
                            <button class="btn btn-facebook btn-lg show-create-game">Create A Game</button>
                            <button class="btn btn-facebook btn-lg show-join-game">Join A Game</button>
                        </div>
                        <div class="visible-xs-block">
                            <button class="btn btn-facebook btn-block show-create-game">Create A Game</button>
                            <button class="btn btn-facebook btn-block show-join-game">Join A Game</button>
                        </div>

                    </div>
                </div>
                <div id="create-game" class="container hide">
                    <!-- @if BETA == "FALSE" -->
                        <form class="form-horizontal text-left" role="form">
                            <div class="form-group">
                                <h1 class="text-center col-sm-12 col-xs-12">Create a Game</h1>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-5 col-xs-5 control-label" for="create_game_name">Game Name:</label>
                                <div class="col-sm-3 col-xs-7">
                                    <input id="create_game_name" class="form-control"></input>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-5 col-xs-5 control-label" for="create_game_need_password">Password protect?:</label>
                                <div class="col-sm-3 col-xs-7">
                                    <input id="create_game_need_password" type="checkbox"</input>
                                </div>
                            </div>
                            <div id="create_password_block" class="form-group">
                                <label class="col-sm-5 col-xs-5 control-label" for="create_game_password">Password:</label>
                                <div class="col-sm-3 col-xs-7">
                                    <input id="create_game_password" class="form-control" disabled></input>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="hidden-xs">
                                    <div class="col-sm-offset-5 col-sm-2">
                                        <button class="btn btn-default btn-block create-game-submit">Create</button>
                                    </div>
                                    <div class="col-sm-1">
                                        <button class="btn btn-danger btn-block create-or-join-back">Back</button>
                                    </div>
                                </div>
                                <div class="visible-xs-block">
                                    <button class="btn btn-default btn-block create-game-submit">Create</button>
                                    <button class="btn btn-danger btn-block create-or-join-back">Back</button>
                                </div>
                            </div>
                        </form>
                    <!-- @endif -->
                    <!-- @if BETA == "TRUE" -->
                        <div class="row">
                            <div class="col-sm-offset-4 col-sm-4 hidden-xs text-center">
                                We aren't quite ready to sell to the public. If you're interesting in beta pricing you can contact <a href="mailto:matt@dmassassins.com">matt@dmassassins.com</a>
                            </div>
                        </div><br />
                        <div class="row">
                            <div class="col-sm-offset-4 col-sm-4 hidden-xs text-center">
                                <button class="btn btn-danger btn-block create-or-join-back">Back</button>
                            </div>
                        </div>
                        <div class="visible-xs-block text-center">
                            We aren't quite ready to sell to the public. If you're interesting in beta pricing you can contact <a href="mailto:matt@dmassassins.com">matt@dmassassins.com</a>
                            <button class="btn btn-danger btn-block create-or-join-back">Back</button>
                        </div>
                     </div>
                    <!-- @endif -->
                </div>
                <div id="join-game" class="container hide">
                    <form class="form-horizontal text-left" role="form">
                        <div class="form-group">
                            <h1 class="text-center col-sm-12 col-xs-12">Select a Game</h1>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-5 col-xs-5 control-label" for="games">Game:</label>
                            <div class="col-sm-3 col-xs-7">
                                <select id="games" class="form-control">
                                    <% _.each(games, function(game){ %>
                                        <option value="<%= game.game_id %>" game_has_password="<%= game.game_has_password %>"><%= game.game_name %> </option>
                                    <% }) %>
                                </select>
                            </div>
                        </div>
                        <div id="join_password_block" class="form-group">
                            <label class="col-sm-5 col-xs-5 control-label" for="join_game_password">Password:</label>
                            <div class="col-sm-3 col-xs-7">
                                <input id="join_game_password" class="form-control" disabled></input>
                            </div>
                        </div>
                        <div id="join_team_block" class="form-group">
                            <label class="col-sm-5 col-xs-5 control-label" for="join_game_team">Team:</label>
                            <div class="col-sm-3 col-xs-7">
                                <select id="join_game_team" class="form-control" disabled>
                                    <option value="" id="team_placeholder">This Game Doesn't Have Teams</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="hidden-xs">
                                <div class="col-sm-offset-5 col-sm-2">
                                    <button class="btn btn-default btn-block join-game-submit">Join</button>
                                </div>
                                <div class="col-sm-1">
                                    <button class="btn btn-danger btn-block create-or-join-back">Back</button>
                                </div>
                            </div>
                            <div class="visible-xs-block">
                                <button class="btn btn-default btn-block join-game-submit">Join</button>
                                <button class="btn btn-danger btn-block create-or-join-back">Back</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
    </script>
    <script id="login-template" type="text/template">
    <div class="col-md-2"></div>
        <div class="container col-md-8">
            <img src="/assets/img/logo.png" class="center-block img-responsive logo" />
            <button class="btn btn-facebook btn-lg center-block hidden-xs"><i class="fa fa-facebook"></i> | Connect with Facebook</button>
        </div>
        <div class="col-md-2"></div>
        <button class="btn btn-facebook btn-block center-block visible-xs-block"><i class="fa fa-facebook"></i> | Connect with Facebook</button>
    </script>
    <script id="leaderboard-template" type="text/template">
    <div class="container">
        <% if (teams_enabled) { %>
            <h3>Team Rankings</h3>
            <table class="stripe compact" id="team_leaderboard_table">
                <thead>
                    <th>Team Name</th>
                    <th>Total Players</th>
                    <th>Players Left</th>
                    <th>Kills</th>
                    <th>Avg Kills</th>
                </thead>
                <tbody>
                        <%
                        _.each(teams, function(team, name) {
                        %>
                        <tr>
                            <td style="width:<%=team_col_width%>%"><%=name%></td>
                            <td style="width:<%=team_col_width%>%"><%=team.players%></td>
                            <td style="width:<%=team_col_width%>%"><%=team.alive%></td>
                            <td style="width:<%=team_col_width%>%"><%=team.kills%></td>
                            <td style="width:<%=team_col_width%>%"><%=parseFloat(team.kills/team.players).toFixed(2)%></td>
                        </tr>
                        <%
                        })
                        %>
                </tbody>
            </table>
        <% } %>
        <h3>Player Rankings</h3>
        <table class="stripe compact" id="user_leaderboard_table">
            <thead>
                <th style="width:<%=user_col_width%>%">Name</th>
                <% if (teams_enabled) { %>
                    <th style="width:<%=user_col_width%>%">Team</th>
                <% } %>
                <th style="width:<%=user_col_width%>%">Alive</th>
                <th style="width:<%=user_col_width%>%">Kills</th>
            </thead>
            <tbody>
                <%
                _.each(users, function(user) {
                %>
                <tr>
                    <td><%=user.name%></td>
                    <% if (teams_enabled) { %>
                        <td><%= user.team_name %></td>
                    <% } %>
                    <td><%=user.alive ? 'Yes' : 'No'%></td>
                    <td><%=user.kills%></td>
                </tr>
                <%
                })
                %>
            </tbody>
        </table>
    </div>
    </script>
    <script id="rules-template" type="text/template">
        <div class="container">
            <%= rules %>
        </div>
    </script>

    <script id="admin-edit-rules-template" type="text/template">
        <div class="container">
            <div class="alert alert-info alert-dismissible">
                <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span></button>
            Game rules are written in a language called markdown. This allows you to tweak the rules to best suit your game.
            Below is an editor that will provide you with most of the functionality of markdown.
            We've provided a set of sample rules that you can fill in for your convenience.
            If you'd like to write directly in markdown check out this <a href="https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet" target="_blank" class="alert-link">cheat sheet.</a>
            </div>

            <textarea v-model="rules" id="rules-editor"><%= rules %></textarea>
        </div>
    </script>


    <script id="admin-users-teams-template" type="text/template">
        <li class="team" id="nav_team_all">
            <a href="#" class="team-name" data-team-id="SHOW_ALL" >Show All</a>
        </li>
        <li class="team" id="nav_team_null">
            <a href="#" class="team-name" data-team-id="NO_TEAM">No Team</a>
        </li>
        <% if (is_admin) { %>
            <li class="new-team">
                <a href="#" class="new-team-open">New Team</a>
                <form class="new-team-form form-inline hide">
                    <input placeholder="Enter Team Name" type="text" class="new-team-name form-control" />
                    <a href="#" class="team-input-button create-new-team"><span class="glyphicon glyphicon-ok"></span></a>
                    <a href="#" class="team-input-button cancel-new-team"><span class="glyphicon glyphicon-remove"></span></a>
                </form>
            </li>
        <%
            }
        _.each(teams, function(team){
        %>
            <li class="team team-droppable" id="nav_team_<%= team.team_id %>" data-team-id="<%= team.team_id %>" data-team-name="<%= team.team_name %>">
                <div class="team-display">
                    <a href="#" class="team-name" data-team-id="<%= team.team_id %>" data-team-name="<%= team.team_name %>">
                        <%= team.team_name %>
                    </a>
                <% if (is_admin) { %>
    				<div class="team-buttons">
    	                <a href="#" class="edit-team" data-team-id="<%= team.team_id %>"><span class="glyphicon glyphicon glyphicon-pencil"></span></a>
    					<a href="#" class="delete-team" data-team-name="<%= team.team_name %>" data-team-id="<%= team.team_id %>"><span class="glyphicon glyphicon-remove"></span></a>
                    </div>
                <% } %>
                </div>
                <% if (is_admin) { %>
                    <form class="edit-team-form form-inline hide">
                        <input type="text" class="edit-team-name form-control" value="<%= team.team_name %>"/>
                        <a href="#" class="team-input-button save-edit-team" data-team-id="<%= team.team_id %>"><span class="glyphicon glyphicon-ok"></span></a>
                        <a href="#" class="team-input-button cancel-edit-team" data-team-id="<%= team.team_id %>"><span class="glyphicon glyphicon-remove"></span></a>
                    </form>
                <% } %>

            </li>
        <%
        })
        %>
        <select id="team-select-placeholder" class="hide">
            <%
            _.each(teams, function(team){
            %>
                <option value="<%= team.team_id %>"> <%= team.team_name %> </option>
            <%
            })
            %>
        </select>

    </script>

    <script id="admin-user-template" type="text/template">

        <div class="user-grid col-xs-12 col-sm-6 col-md-4 col-lg-3" id="user_<%= user_id %>" data-user-id="<%= user_id %>">
             <img class="drag-img hide" src=<%= properties.photo_thumb %>>
             <div class="user">
                 <div class="user-column text-center">
                    <div class="row">
                        <h3>
                        	<% if (properties.alive !="true") { %>
                        		<s>
							<%} %>
		                        	<%= properties.first_name + ' ' + properties.last_name %>
							<% if (properties.alive !="true") { %>
                        		</s>
							<%} %>

                        </h3>
                        <a href="mailto:<%= email %>" class="subtext"><%= email %></a><br />
                        <a href="<%= properties.facebook %>" class="subtext">View Facebook</a>
                    </div>

                    <div class="row">
                        <a class="thumbnail <% if (!teams_enabled) { %> default_cursor <%} %>">
                            <div class="thumbnail-wrapper">
                                <img class="img img-responsive full-width <% if (properties.alive !="true") { %> dead <%} %>" src=<%= properties.photo_thumb %>>
                            </div>
                        </a>
                    </div>
                    <div class="user-data-text">
                        <% if (teams_enabled) { %>
                            <div class="row">
                                <label>Team:<span class="team-saved" id="team_saved_<%= user_id %>" >Saved</span></label>
                                <select class="user-team" data-user-id ="<%=user_id %>">

                                    <% if (properties.team == 'null') { %>
    	                                <option value ="">Select a Team</option>
                                    <% } _.each(teams, function(team) { %>
                                        <option value="<%=team.team_id%>" <%= team.team_name === properties.team ? 'selected' : ''%>><%= team.team_name %></option>
                                    <% }) %>
                                </select>
                            </div>
                        <% } %>
                        <% if (is_admin) { %>
                            <div class="row">
                                <label>Role:<span class="role-saved" id="role_saved_<%= user_id %>" >Saved</span></label>
                                <select class="user-role" data-user-id ="<%=user_id %>" <% if (logged_in) { %> disabled <% } %> >

                                    <% _.each(roles, function(role, role_id) { %>
                                        <option value="<%=role_id%>" <%= role_id === properties.user_role ? 'selected' : ''%>><%= role.pretty_name %></option>
                                    <% }) %>
                                </select>
                            </div>
                        <% } %>
                    </div>
                    <% if (is_admin) { %>
                        <% if (properties.alive =="true") { %>
    	                    <div class ="user-buttons btn-group btn-group-justified kill-user-wrapper">
    	                        <div class="btn-group">
    	                            <button type="button" data-user-id ="<%=user_id %>" data-user-name ="<%=properties.first_name + ' ' + properties.last_name %>" class="btn btn-danger ban-user">Ban</button>
    	                        </div>
    	                        <div class="btn-group">
    	                            <button type="button" data-user-id ="<%=user_id %>" data-user-name ="<%=properties.first_name + ' ' + properties.last_name %>" class="btn btn-default edit-photo">Photo</button>
    	                        </div>
    	                        <div class="btn-group">
    	                            <button type="button" data-user-id ="<%=user_id %>" data-user-name ="<%=properties.first_name + ' ' + properties.last_name %>" class="btn btn-danger kill-user">Kill</button>
    	                        </div>
    	                    </div>
    	                <% } else { %>
    	                    <div class ="user-buttons btn-group btn-group-justified revive-user-wrapper">
    	                        <div class="btn-group">
    	                            <button type="button" data-user-id ="<%=user_id %>" data-user-name ="<%=properties.first_name + ' ' + properties.last_name %>" class="btn btn-danger ban-user">Ban</button>
    	                        </div>
    	                        <div class="btn-group">
    	                            <button type="button" data-user-id ="<%=user_id %>" data-user-name ="<%=properties.first_name + ' ' + properties.last_name %>" class="btn btn-default edit-photo">Photo</button>
    	                        </div>
    	                        <div class="btn-group">
    	                            <button type="button" data-user-id ="<%=user_id %>" data-user-name ="<%=properties.first_name + ' ' + properties.last_name %>" class="btn btn-primary revive-user">Revive</button>
    	                        </div>
    	                    </div>
    					<% } %>
                     </div>
                    <% } else { %>
                         <div class ="user-buttons">
    	                        <button type="button" data-user-id ="<%=user_id %>" data-user-name ="<%=properties.first_name + ' ' + properties.last_name %>" class="btn btn-default btn-block edit-photo">Photo</button>
                        </div>
                    <% } %>
            </div>
        </div>

    </script>

    <script id="admin-users-template" type="text/template">
        <% if (teams_enabled) { %>
            <div class="teams hidden-xs">
                <div class="sidebar-wrapper">
                    <ul id="team_list" class="sidebar-nav">

                    </ul>
                </div>
            </div>
        <% } %>
        <div class="admin-users-body <% if (teams_enabled) { %>adjust-sidebar <% } %>">


        </div>

        <div class="modal fade" id="edit_photo_modal" role="dialog">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">Edit Photo</h4>
              </div>
              <form class="form" role="form">
                  <div class="modal-body">
                    <div class="user-photo-wrapper"></div>
                    <p>If you'd like to change <strong><span class="user-name"></span></strong>'s photo enter a new url here.</p>
                     <div class="form-group">
                         <label for="photo_url">Photo Url:</label><input class="form-control" id="photo_url" type="text" placeholder ="Enter Photo URL"/>
                     </div>
                  </div>
                  <div class="modal-footer">
                    <button class="btn btn-default btn-medium" data-dismiss="modal">Cancel</button>
                    <button class="btn btn-primary btn-medium edit-photo-submit">Save</button>
                  </div>
              </form>
            </div><!-- /.modal-content -->
          </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->


        <div id="revive_user_modal" class="modal fade">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">Revive User</h4>
              </div>
              <div class="modal-body">
                <p>Are you sure you want to revive <strong><span class="user-name"></span></strong>? This will revive them and randomly place them in the middle of another assassin/target pair.
                </p>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default hidden-xs" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary hidden-xs revive-user-submit">Revive User</button>

                <button type="button" class="btn btn-block btn-default visible-xs" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-block btn-primary visible-xs revive-user-submit">Revive User</button>

              </div>
            </div><!-- /.modal-content -->
          </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->



        <div id="kill_user_modal" class="modal fade">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">Kill User</h4>
              </div>
              <div class="modal-body">
                <p>Are you sure you want to kill <strong><span class="user-name"></span></strong>? This will kill them as though their assassin has killed them.<br />
                    <strong>If you want to ban the user completely close this window and click "Ban User."</strong>
                </p>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default hidden-xs" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-danger hidden-xs kill-user-submit">Kill User</button>

                <button type="button" class="btn btn-block btn-default visible-xs" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-block btn-danger visible-xs kill-user-submit">Kill User</button>

              </div>
            </div><!-- /.modal-content -->
          </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->



        <div id="ban_user_modal" class="modal fade">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">Ban User</h4>
              </div>
              <div class="modal-body">
                <p>Are you sure you want to ban <strong><span class="user-name"></span></strong>? They will be permanently removed from the game and leaderboard. <br />
                    <strong>This action cannot be undone.</strong><br />
                    If you just want to kill them close this window and click "Kill User."
                </p>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default hidden-xs" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-danger hidden-xs ban-user-submit">Ban User</button>

                <button type="button" class="btn btn-block btn-default visible-xs" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-block btn-danger visible-xs ban-user-submit">Ban User</button>

              </div>
            </div><!-- /.modal-content -->
          </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->


        <div id="delete_team_modal" class="modal fade">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">Delete Team</h4>
              </div>
              <div class="modal-body">
                <p>Are you sure you want to delete team <strong><span class="team-name"></span></strong>? <br />This will remove all users from the team and delete it.
                </p>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default hidden-xs" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-danger hidden-xs delete-team-submit">Delete Team</button>

                <button type="button" class="btn btn-block btn-default visible-xs" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-block btn-danger visible-xs delete-team-submit">Delete Team</button>

              </div>
            </div><!-- /.modal-content -->
          </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->

    </script>

    <script id="admin-game-settings-template" type="text/template">
        <div class="container">
            <div class="col-sm-4 col-sm-offset-1">
                <h1 class="text-center">Settings</h1>
                <form class="game-settings" role="form">
                    <div class="form-group">
                        <label for="game_name" class="control-label">Game Name:</label>
                        <input id="game_name" class="form-control" value="<%=game_name%>" />
                    </div>
                    <div class="form-group">
                        <label for="game_password" class="control-label">Game Password:</label>
                        <input id="game_password" class="form-control" placeholder="Leave Blank For No Password" value="<%= game_properties.game_password %>"/>
                    </div>

                    <div class="form-group">
                        <div class="checkbox">
                            <label for="teams_enabled">
                                <input id="teams_enabled" type="checkbox" <% if (teams_enabled) { %> checked <% } %>/> Enable Teams
                            </label>
                        </div>
                        <button class="btn btn-block btn-primary save-game">Save</button>
                    </div>

                </form>
                <% if (!game_started) { %>
                    <button class="btn btn-block btn-success start-game">Start Game</button>
                <% } else { %>
                    <button class="btn btn-block btn-danger end-game">End Game</button>
                <% } %>

            </div>
            <div class="list-group col-sm-4 col-sm-offset-2">
                <h1 class="text-center">Plot Twists</h1>
                <a href="#" class="list-group-item" id="randomize_targets">Randomize Targets</a>
                <a href="#" class="list-group-item" id="reverse_targets">Reverse Targets</a>
                <a href="#" class="list-group-item" id="successive_kills">Successive Kills Count Double</a>
                <% if (teams_enabled) { %>
                    <a href="#" class="list-group-item" id="strong_weak">Strong Target The Weak</a>
                    <a href="#" class="list-group-item" id="strong_closed">Put Strongest In A Closed Loop</a>
                <% } %>
                <a href="#" class="list-group-item" id="timer_24">24 Hours To Kill</a>
            </div>
        </div>
        <div id="start_game_modal" class="modal fade">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">Start Game</h4>
              </div>
              <div class="modal-body">
                <p>Are you sure you want to start the game <strong><span class="user-name"></span></strong>? This will immediately assign targets and notify all users the game has begun. <br />
                    If you're not ready to start the game, close this window.
                </p>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default hidden-xs" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-success hidden-xs start-game-submit">Start Game</button>

                <button type="button" class="btn btn-block btn-default visible-xs" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-block btn-success visible-xs start-game-submit">Start Game</button>

              </div>
            </div><!-- /.modal-content -->
          </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->

          <div id="end_game_modal" class="modal fade">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">End Game</h4>
              </div>
              <div class="modal-body">
                <p>Are you sure you want to end the game <strong><span class="user-name"></span></strong>? This will immediately delete the game from dmassassins.com<br />
                    If you're not ready to end the game, close this window.
                </p>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default hidden-xs" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-danger hidden-xs end-game-submit">End Game</button>

                <button type="button" class="btn btn-block btn-default visible-xs" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-block btn-danger visible-xs end-game-submit">End Game</button>

              </div>
            </div><!-- /.modal-content -->
          </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->

        <div id="plot-twist-modal-container"></div>
    </script>

    <script id="plot-twist-modal-template" type="text/template">
        <div id="plot-twist-modal" class="modal fade">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title"><%= title %></h4>
              </div>
              <form role="form" id="plot_twist_form">
                <div class="modal-body">
                    <div class="twist-details"><%= details %></div>
                    <!-- @if BETA == "FALSE" -->
                    <div class="checkbox">
                        <label>
                          <input type="checkbox" id="send-twist-email" <% if (checked) { %> checked <% } %>> Should we email users about this plot twist?<br />
                          <i>Note: If you plan to pair this plot twist with any others, we recommend you craft your own email to avoid spamming your users</i>
                        </label>
                    </div>
                     <!-- @endif -->
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default hidden-xs" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn hidden-xs twist-submit <%=submit_class%>" data-twist-name="<%= twist_name %>"><%= submit_text %></button>

                    <button type="button" class="btn btn-block btn-default visible-xs" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-block visible-xs twist-submit  <%=submit_class%>" data-twist-name="<%= twist_name %>"><%= submit_text %></button>
                </div>
              </form>
            </div><!-- /.modal-content -->
          </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->
    </script>

    <script id="plot-twist-body-randomize-targets-template" type="text/template">
        The following will happen if you implement this plot twist:<br />
        <ol>
            <li>All users will have a new target</li>
            <% if (teams_enabled) { %>
                <li>We will attempt to give all users a target from a different team.</li>
                <li>We will attempt to prevent team captains from targeting each other.</li>
                <li>Users will be emailed informing them of the plot twist</li>
            <% } %>
        </ol>
    </script>

    <script id="plot-twist-body-reverse-targets-template" type="text/template">
        The following will happen if you implement this plot twist:<br />
        <ol>
            <li>All users will target their current assassin.</li>
            <li>All users will be targeted by their current target.</li>
            <li>Users will be emailed informing them of the plot twist</li>
        </ol>
    </script>

    <script id="plot-twist-body-successive-kills-template" type="text/template">
        The following will happen if you implement this plot twist:<br />
        <ol>
            <li>All users will have a new target</li>
            <li>If a player makes a kill and has already killed in the last 24 hours they will get two points.</li>
            <li>A player will get no more than 2 points per kill.</li>
            <li>If a player is on a kill spree, they can potentially rack up a series of 2 point kills.</li>
            <li>Users will be emailed informing them of the plot twist</li>
        </ol>
    </script>

    <script id="plot-twist-body-strong-weak-template" type="text/template">
        The following will happen if you implement this plot twist:<br />
        <ol>
            <li>The player with the most kills from each team will be targeting the player with the least kills from a different team.</li>
            <li>For target assignment, ties for "strongest" and "weakest" for each team will be broken arbitrarily.</li>
            <li>All other players will be assigned a random target.</li>
            <li>If the player with the lowest number of kills for a team dies, the next lowest team member will also die.</li>
            <li>If players are tied for "weakest" they both count.</li>
            <li>Users will be emailed informing them of the plot twist</li>
        </ol>
    </script>

    <script id="plot-twist-body-strong-closed-template" type="text/template">
        The following will happen if you implement this plot twist:<br />
        <ol>
            <li>If the player with the most kills for their team is dead, they will be revived.</li>
            <li>The player with the most kills from each team will be assigned another "strong" player from another team.</li>
            <li>Strong players will be in their own mini game and will not be able to target regular users until targets are reassigned.</li>
            <li>Ties for "strongest" for each team will be broken arbitrarily</li>
            <li>All other players will be assigned a random target</li>
            <li>All players have 48 hours to kill their new target</li>
            <li>Users will be emailed informing them of the plot twist</li>
        </ol>
    </script>

    <script id="plot-twist-body-timer-24-template" type="text/template">
        The following will happen if you implement this plot twist:<br />
        <ol>
            <li>All players get a new target</li>
            <li>Players who do not kill their target within 24 hours will be eliminated</li>
            <li>Users will be emailed informing them of the plot twist</li>
        </ol>
    </script>

    <script id="admin-email-users-template" type="text/template">
        <div class="container text-center">
            <p>This page serves as a placeholder during beta to allow a game admin to email the players of a game. They can either click the "Email Alive" or "Email All" buttons or copy and paste the list of emails below.<br />
                <i>Note: The only users listed are those that have not opted out from in-game emails</i>
            </p>

            <a href="mailto:?subject=DMAssassins&bcc=<% _.each(alive, function(email){ %><%= email %>,<% }) %>">
                <button class="btn btn-primary js-email-users">Email Alive</button>
            </a>
            <a href="mailto:?subject=DMAssassins&bcc=<% _.each(all, function(email){ %><%= email %>,<% }) %>">
                <button class="btn btn-primary js-email-users">Email All</button>
            </a>
            <br />
            <div class="emails">
                <% _.each(all, function(email){ %>
                    <%= email %>,
                <% }) %>
            </div>
        </div>
    </script>

    <script id="super-admin-targets-template" type="text/template">
        <div class="container text-center">
            <% _.each(loops, function(loop, i){ %>
                <h1>Loop <%= i + 1 %> - <%= loop.length %> Targets</h1>
                <table class="js-targets-table stripe compact">
                    <thead>
                        <th>Assassin Name</th>
                        <th>Assassin Team</th>
                        <th>Assassin Role</th>
                        <th>Assassin Kills</th>
                        <th>Target Name</th>
                        <th>Target Team</th>
                        <th>Target Role</th>
                        <th>Target Kills</th>
                    </thead>
                    <tbody>
                        <% _.each(loop, function(pair) { %>
                            <tr>
                                <td><%= pair.assassin_name %></td>
                                <td><%= pair.assassin_team_name %></td>
                                <td><%= pair.assassin_user_role %></td>
                                <td><%= pair.assassin_kills %></td>
                                <td><%= pair.target_name %></td>
                                <td><%= pair.target_team_name %></td>
                                <td><%= pair.target_user_role %></td>
                                <td><%= pair.target_kills %></td>
                            </tr>
                        <% }) %>
                    </tbody>
                </table>
            <% }) %>
        </div>
    </script>


    <script src="//cdn.ravenjs.com/1.1.16/backbone,jquery,native/raven.min.js"  type="text/javascript"></script>
    <div id="fb-root"></div>
    <script src="//connect.facebook.net/en_US/sdk.js" type="text/javascript"></script>

    <!-- @if NODE_ENV='DEVELOPMENT' -->
    <script src="js/config.js" type="text/javascript"></script>
    <script src="/bower_components/jquery/dist/jquery.js" type="text/javascript"></script>
    <script src="/bower_components/jquery-ui/jquery-ui.js" type="text/javascript"></script>
    <script src="/bower_components/underscore/underscore.js" type="text/javascript"></script>
    <script src="/bower_components/backbone/backbone.js" type="text/javascript"></script>
    <script src="/bower_components/bootstrap/dist/js/bootstrap.js" type="text/javascript"></script>
    <script src="/bower_components/datatables/media/js/jquery.dataTables.js" type="text/javascript" charset="utf8"></script>
    <script src="/bower_components/datatables-bootstrap3/BS3/assets/js/dataTables.js" type="text/javascript" charset="utf8"></script>
    <script src="/bower_components/base64/base64.js" type="text/javascript"></script>
    <script src="/bower_components/marked/lib/marked.js" type="text/javascript"></script>
    <script src="/bower_components/bootstrap-markdown/js/bootstrap-markdown.js" type="text/javascript"></script>
    <!-- @endif -->

    <!-- @if NODE_ENV='PRODUCTION' -->
    <script src="//code.jquery.com/jquery-1.11.0.min.js" type="text/javascript"></script>
    <script src="//code.jquery.com/ui/1.11.1/jquery-ui.min.js" type="text/javascript"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.7.0/underscore-min.js" type="text/javascript"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/backbone.js/1.1.2/backbone.js" type="text/javascript"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="//cdn.datatables.net/1.10.2/js/jquery.dataTables.min.js" type="text/javascript" charset="utf8"></script>
    <script src="//cdn.datatables.net/plug-ins/a5734b29083/integration/bootstrap/3/dataTables.bootstrap.js" type="text/javascript"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/Base64/0.3.0/base64.min.js" type="text/javascript"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-markdown/2.7.0/js/bootstrap-markdown.min.js" type="text/javascript"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/marked/0.3.2/marked.min.js" type="text/javascript"></script>

    <script src="dist/<!-- @echo VERSION -->/DMAssassins.min.js" type="text/javascript"></script>
    <script>

          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
          ga('create', 'UA-55410159-1', 'auto');
          ga('require', 'displayfeatures');
          ga('send', 'pageview');

    </script>
    <!-- @endif -->


    <!-- @if NODE_ENV='DEVELOPMENT' -->
    <script src="js/lib/facebook-sdk.js" type="text/javascript"></script>
    <script src="js/lib/auth-utils.js" type="text/javascript"></script>
    <script src="js/lib/constants.js" type="text/javascript"></script>

    <script src="js/models/session.js" type="text/javascript"></script>
    <script src="js/models/game.js" type="text/javascript"></script>
    <script src="js/models/user.js" type="text/javascript"></script>
    <script src="js/models/team.js" type="text/javascript"></script>
    <script src="js/models/target.js" type="text/javascript"></script>
    <script src="js/models/leaderboard.js" type="text/javascript"></script>
    <script src="js/models/rules.js" type="text/javascript"></script>
    <script src="js/models/plot-twist.js" type="text/javascript"></script>
    <script src="js/models/targets.js" type="text/javascript"></script>

    <script src="js/collections/games.js" type="text/javascript"></script>
    <script src="js/collections/users.js" type="text/javascript"></script>
    <script src="js/collections/teams.js" type="text/javascript"></script>

    <script src="js/views/profile-view.js" type="text/javascript"></script>
    <script src="js/views/target-view.js" type="text/javascript"></script>
    <script src="js/views/leaderboard-view.js" type="text/javascript"></script>
    <script src="js/views/rules-view.js" type="text/javascript"></script>

    <script src="js/views/admin-user-view.js" type="text/javascript"></script>
    <script src="js/views/admin-users-teams-view.js" type="text/javascript"></script>
    <script src="js/views/admin-users-view.js" type="text/javascript"></script>
    <script src="js/views/admin-edit-rules-view.js" type="text/javascript"></script>
    <script src="js/views/admin-game-settings-view.js" type="text/javascript"></script>

    <script src="js/views/super-admin-targets-view.js" type="text/javascript"></script>

    <script src="js/views/app-view.js" type="text/javascript"></script>
    <script src="js/views/nav-view.js" type="text/javascript"></script>
    <script src="js/views/select-game-view.js" type="text/javascript"></script>
    <script src="js/views/nav-game-view.js" type="text/javascript"></script>
    <script src="js/views/login-view.js" type="text/javascript"></script>
    <script src="js/routers/baserouter.js" type="text/javascript"></script>
    <script src="js/routers/router.js" type="text/javascript"></script>
    <script src="js/app.js" type="text/javascript"></script>
    <!-- @endif -->

</head>

<body>
    <section id="app">
        <section id="nav_body"></section>

        <section class="container-fluid" id="app_body"></section>
    </section>
</body>
</html>
